
.head {
	background:#eee url(images/logohd.png) no-repeat 25% 0% !important; 
	background-size:auto 100% !important;
}

.main section.cover { position: fixed; }

.call form { margin: 0; padding: 0; display: inline; }

section p { background-color: white; padding: 1em; }

section.cover p { background-color: transparent; }

a.def { text-decoration: none; color: inherit; border-bottom: 1px dashed #9c9; }
